<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  <!--  <link rel="icon" href="../../../../favicon.ico">-->

    <title>Dashboard for supervisor</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="../../../stylesheets/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../stylesheets/style.css">
    <link rel="stylesheet" href="../../../stylesheets/hangsuper.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #114a81;">
      <a class="navbar-brand" href="#">UPMS</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
       
          <div class="project-name">
            <a href="../">University Project Management System</a>
          </div>
          <div class="welcome"> 
            Welcome:
            <span id ="userId"> Hang</span>
            <span id ="logout" class="btn">sign out</span>
          </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block sidebar" style="background-color: #666666;">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="/superviser">Dashboard</a>
            </li>
          </ul>
        </nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">



            <div class="panel">
               <div class="panel-title">
              <span>Project Details</span>


            </div>
            <div class="panel-body-all">
              <div class="panel-body">
                <div class="panel-body-t link">
                <%= projectName %>
               </div>




                <div class="panel-body-t-score"><br>
                </div>
                <div class="panel-body-b">
 <iframe id='iframe' src= '/superviser/project_detail/projectUploads/<%= filePath %>' onload='readfile()'> </iframe>

                </div>

              </div>

            </div>
          </div>


            <div class="panel">
              
              <div class="panel-title">
                <span>Applied Group:</span>
              </div>
              <div class="panel-body-all"  style="overflow: hidden;">
                  <table width="90%" align="center">
                      <tr>
                        <th>Group Number</th>
                        <th>Application</th>
                        <th>Preference</th>
                        <th>Status</th>
                        <th></th>
        
                      </tr>
                      <tbody id="appliedGroups">
                         
                      </tbody>
            </table>
              </div>
            </div>

        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
      <script src="../../../javascripts/hangsuper.js"></script>
      <script src="../../../javascripts/signin.js"></script>
  </body>

  <script>

     function readfile() {
        document.getElementById('iframe').contentDocument.body.firstChild.innerHTML;
  }
 
getApplication()

  function getApplication(){
  hs.getAjax({
    url:'/superviser/project/getProjects/getApplication',
    data:{
      project_id:<%= projectId %>
    },
    succFn:function(res){
      hs.text(hs.getId('appliedGroups'),res)
    }
  })
}



function save(self){
  hs.getAjax({
    url:'/superviser/projects/setPreference',
    data:{
      applicationId:self.getAttribute('id'),
      mark:hs.getId(self.getAttribute('id')).value
    },
    succFn:function(res){
      if (res == "succ"){
        hs.toast('green',2,"Data Saved")
      }
    }
  })
}
  </script>
</html>


