<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  <!--  <link rel="icon" href="../../../../favicon.ico">-->

    <title>Dashboard for students</title>

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../javascripts/hangsuper.js"></script>
    <script src="../javascripts/signin.js"></script>

    <!-- Custom styles for this template -->
    <link href="../stylesheets/dashboard.css" rel="stylesheet">
    <link href="../stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/hangsuper.css">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #114a81;">
      <a class="navbar-brand" href="#">UPMS</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">

          <div class="project-name">
              <a href="../">University Project Management System</a>
          </div>
          <div class="welcome">
            Welcome:
            <span id="userId"> Hang</span>
            <span id="logout" class="btn">sign out</span>
          </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block sidebar" style="background-color: #666666;">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/tutor">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tutor/project">Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/tutor/tutgroups">Groups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/tutor/tutmeeting">Meeting Time</a>
            </li>

          </ul>
          <hr>

          <ul class="nav nav-pills flex-column">

            <li class="nav-item">
              <a class="nav-link" href="tutor/tutcontact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tutor/tutprofile">Profile</a>
            </li>
          </ul>

        </nav>

      </div>

      <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
        <div class="panel" style="height: auto;">
                      <div class="panel-title">
                        <span>SelfReflection</span>
                      </div>
                      <div class="panel-body">
                        <div class="panel-body-t">
                          Student Name : Richard Wu
                        </div>
                        <div class="panel-body-t">
                          Student Number : N9532031
                        </div>
                        <div class="panel-body-t">
                        Grade:7
                        </div>
                        <p>
                        <p>
                        <div class="panel-body-p">
                        1. Reflect on how you delivered on your three main tasks for the last fortnight:
                        </div>

                        <div class="panel-body-b">
                          I am a leader for this team, i did the arrangement for this project. my main task is
                          taks 1 , task 2 and task 3
                        </div>
                        <div class="panel-body-p">
                        2. Detail your three main tasks for the next fortnight:
                        </div>

                        <div class="panel-body-b">
                        For the next fortnight i will do ................................
                        ..................................................................
                        .................................................................
                        ...........................
                        </div>

                      </div>
                      <div class="panel-title">
                        <span>Team Reflection</span>
                      </div>
                      <div class="panel-body">
                        <div class="panel-body-t">
                          Student Name : Hang
                        </div>
                        <div class="panel-body-t">
                          Student Number : N9325641
                        </div>
                        <div class="panel-body-t">
                        Grade:7
                        </div>
                        <p>
                        <p>
                        <div class="panel-body-p">
                        1. Evaluation of contribution and performance :
                        </div>

                        <div class="panel-body-b">
                          he is a designer for this project...........
                          ......................
                          .....................................
                          .......................................
                          ...............................................
                        </div>


                      </div>

                      <div class="panel-title">
                        <span>Mark</span>
                      </div>
                      <div class="panel-body">
                      <style>
                      th,td{
                              margin: 0;
                              border: 1px solid black;
                              outline: 1px solid #e3e3e3;
                              color: black;
                      }

                      td{
                              padding: 5px 10px;
                      }

                      th{
                              color: black;
                              padding: 5px 10px;
                      }
                      </style>
                      <table>
                        <tr>
                          <th>Criteria</th>
                          <th>Products</th>
                          <th>Progess</th>
                          <th>Process</th>
                          <th>Team work</th>
                          <th>Online reflection</th>

                        </tr>
                        <tr>
                          <td>Weight</td>
                          <td>20%</td>
                          <td>20%</td>
                          <td>20%</td>
                          <td>20%</td>
                          <td>20%</td>
                        </tr>
                        <tr>
                          <td>Mark</td>
                          <td>1/1</td>
                          <td>1/1</td>
                          <td>1/1</td>
                          <td>1/1</td>
                          <td>1/1</td>
                        </tr>
                        <tr>
                          <td>Grade</td>
                          <td colspan="5" style="text-align: right;">100%</td>
                        </tr>
                      </table>

                      </div>





            </div>
      </main>


    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../stylesheets/popper.min.js"></script>
    <script src="../stylesheets/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../stylesheets/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
