
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  <!--  <link rel="icon" href="../../../../favicon.ico">-->

    <title>Dashboard for students</title>

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="../stylesheets/dashboard.css" rel="stylesheet">
    <link href="../stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/hangsuper.css">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #114a81;">
      <a class="navbar-brand" href="#">UPMS</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">

          <div class="project-name">
              <a href="../">University Project Management System</a>
          </div>
          <div class="welcome">
            Welcome:
            <span id="userId"> Hang</span>
            <span id="logout" class="btn">sign out</span>
          </div>
      </div>
    </nav>

        <div class="container-fluid">
        <div class="row">
           <nav class="col-sm-3 col-md-2 d-none d-sm-block sidebar" style="background-color: #666666;">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/tutor">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/tutor/project">Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tutor/tutgroups">Groups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tutor/tutmeeting">Meeting Time</a>
            </li>

          </ul>
          <hr>

          <ul class="nav nav-pills flex-column">

            <li class="nav-item">
              <a class="nav-link" href="/tutor/tutcontact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tutor/tutprofile">Profile</a>
            </li>
          </ul>

        </nav>

        </div>

      <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
        <div class="panel" style="height: 550px;">
            <div class="panel-title">
              <span>Group Details</span>
              <input type="text" placeholder="Search group or tutor" >
              <button>search</button>
            </div>
            <div class="panel-body-all panel-table">
               <table width="80%" align="center" id="group_details">
            <tr>
                <th>Group Number</th>
                <th>Places Availble</th>
                <th>Tutor</th>

            </tr>


          </table>
            </div>
        </div>
      </main>


    </div>

  </body>

  <script src="../javascripts/hangsuper.js"></script>
  <script src="../javascripts/signin.js"></script>
<script>
getGroups();

function getGroups(){
  hs.getAjax({
    url:'/tutor/tutgroups/getGroups',
    data:{
      user:localStorage.getItem('userId')
    },
    succFn:function(res){
      hs.getId('group_details').innerHTML = res;
    }
  })

}
</script>
</html>
