
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  <!--  <link rel="icon" href="../../../../favicon.ico">-->

    <title>Dashboard for students</title>

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="../stylesheets/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #114a81;">
      <a class="navbar-brand" href="#">UPMS</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">

          <div class="project-name">
            <a href="#">University Project Management System</a>
          </div>
          <div class="welcome">
            Welcome:
            <span> Hang</span>
            <span class="btn">sign out</span>
          </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
         <nav class="col-sm-3 col-md-2 d-none d-sm-block sidebar" style="background-color: #666666;">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/tutor">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tutor/project">Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/tutor/tutgroups">Groups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tutor/tutmeeting">Meeting Time</a>
            </li>

          </ul>
          <hr>

          <ul class="nav nav-pills flex-column">

            <li class="nav-item">
              <a class="nav-link" href="/tutor/tutcontact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tutor/tutprofile">Profile</a>
            </li>
          </ul>

        </nav>

      </div>

      <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
        <div class="panel" style="height: 500px;">
                      <div class="panel-title">
                        <span>Select a group</span>
                      </div>
                        <a href="group_detail" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
                        <a href="profile" class="btn btn-info" role="button" style="margin-top:8px;margin-left:8px;">Group 1</a>
            </div>
      </main>


    </div>

  </body>
</html>
