
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  <!--  <link rel="icon" href="../../../../favicon.ico">-->

    <title>Dashboard for students</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../stylesheets/bootstrap.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="../../../stylesheets/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../stylesheets/style.css">
      <link rel="stylesheet" href="../../../stylesheets/hangsuper.css">

      <style>
      .alert {
          padding: 20px;
          background-color: #f44336;
          color: white;
      }

      .closebtn {
          margin-left: 15px;
          color: white;
          font-weight: bold;
          float: right;
          font-size: 22px;
          line-height: 20px;
          cursor: pointer;
          transition: 0.3s;
      }

      </style>

  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #114a81;">
      <a class="navbar-brand" href="#">UPMS</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">

          <div class="project-name">
            <a href="../">University Project Management System</a>
          </div>
          <div class="welcome">
            Welcome:
            <span id = "userId"> </span>
            <span id = "logout"class="btn">sign out</span>
          </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
         <nav class="col-sm-3 col-md-2 d-none d-sm-block sidebar" style="background-color: #666666;">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/student">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/student/project">Projects</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link active" href="/student/group">Groups</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="/student/assessment">Assessmant</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/student/self_reflection">Self-reflection <%= id %><span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/student/manage_meeting_time">Register meeting Time</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/student/manage_presentation_time">Register presentation Time</a>
            </li>
          </ul>
          <hr>

          <ul class="nav nav-pills flex-column">

            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/student/profile">Profile</a>
            </li>
          </ul>

        </nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">

            <div class="panel" style="overflow: hidden;">
              <div class="panel-title">
                <span>Group
                  <%= id %>
                </span>
              </div>
              <div class="panel-body-all" style="text-align: center; padding: 20px; ">
                 <table width="80%" align="center">
              <tr>
                  <th>Student Number</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Major</th>
                  <th>GPA</th>
                  </th>

              </tr>


              <tbody id = "memberDatail">

              </tbody>

            </table>
              </div>
              <button class="btn" style="float: right; margin-right: 15%; margin-bottom:20px;" onclick="addStudentToGroup();">JOIN</button>
          </div>


          <div class="panel" style="overflow: hidden;">
              <div class="panel-title">
                <span>Applied Projects</span>
              </div>
              <div class="panel-body-all" style="text-align: center; padding: 20px;">
                <div class="panel-body-t" style="text-align: left;">
                  Please Set the Prefernce for the projects your group applied.
                </div>
                <div id="getAppliedProjects">


            <!--     <table width="80%" align="center" style=" margin-top: 20px;">
              <tr>
                  <th>Projet Name:</th>
                  <th>Set Preference:</th>
              </tr>
               <tr>
                  <th>Public trasport system intergreation</th>
                  <th><input type="number"  class="marks" value="1"></th>

              </tr>
              <tr>
                  <th>Public trasport system intergreation</th>
                  <th><input type="number"  class="marks"></th>

              </tr>
              <tr>
                  <th>Public trasport system intergreation</th>
                  <th><input type="number"  class="marks"></th>
              </tr>

            </table>-->
            </div>
              </div>
              <button class="btn" style="float: right; margin-right: 15%; margin-bottom:20px;">Submit</button>
          </div>






        </main>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <!--<script src="../stylesheets/popper.min.js"></script>
    <script src="../stylesheets/bootstrap.min.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <!--  <script src="../stylesheets/ie10-viewport-bug-workaround.js"></script>-->

  <script src="../../../javascripts/hangsuper.js"></script>
  <script src="../../../javascripts/signin.js"></script>

  <script>

  var id = <%= id %>;
  getgroupdetail();
  getAppliedProjects();
  console.log(id);

  function getgroupdetail(){

      hs.getAjax({
        url:'/student/group/getDetail',
        data:{
          id:id,
          userId:localStorage.getItem('userId')
        },
        succFn:function(res){
          hs.text(hs.getId('memberDatail'), res);
        }
      })

  }




 function addStudentToGroup(){
   hs.getAjax({
     url:'/student/group/getDetail/addStudentTogroup',
     data:{
       groupId:id,
       userId:localStorage.getItem('userId')
     },
     succFn:function(res){
       if (res === "succ"){
getgroupdetail();
       }
     }
   })
 }


function getAppliedProjects(){
  hs.getAjax({
    url:'/student/group/getAppliedProjects',
    data:{
      id:id,
      userId:localStorage.getItem('userId')
    },
    succFn:function(res){
      hs.text(hs.getId('getAppliedProjects'), res);
    }
  })
}

hs.click(hs.getTagName('button')[1],function(){
  var username = localStorage.getItem('userId');
  hs.postAjax({
    url:'/student/getAppliedProjects/submitPreference',
    data:{
      group:id,
      student:username
    },
    succFn:function(res){
      if (res == 2 ){
        hs.toast('green',2,'Upload preference successfully');
        setTimeout(function(){
          hs.redirect('/student/group_detail');
        }, 1500);
      }else{
        hs.toast("red",2,"upload preference successfully");
      }
    }
  })

})



  </script>
  </body>
</html>
