
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  <!--  <link rel="icon" href="../../../../favicon.ico">-->

    <title>Dashboard for students</title>

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="../stylesheets/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
    </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #114a81;">
      <a class="navbar-brand" href="#">UPMS</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">

          <div class="project-name">
            <a href="../">University Project Management System</a>
          </div>
          <div class="welcome">
            Welcome:
            <span id = "userId"> suhang</span>
            <span class="btn">sign </span>
          </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
          <nav class="col-sm-3 col-md-2 d-none d-sm-block sidebar" style="background-color: #666666;">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="/student">Dashboard<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="student/project">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="student/group">Groups</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="/student/assessment">Assessmant</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="student/self_reflection">Self-reflection</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="student/manage_meeting_time">Register meeting Time</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="student/manage_presentation_time">Register presentation Time</a>
            </li>
          </ul>
          <hr>

          <ul class="nav nav-pills flex-column">

            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="student/profile">Profile</a>
            </li>
          </ul>

        </nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">

          <div class="panel" style="height:500px;">
              <div class="panel-title">
                <span>Announcements</span>
              </div>
              <div  id = "announcement" class="panel-body-all" style="height:456px; overflow-y:scroll">
                <!--<div class="panel-body">
                  <div class="panel-body-t">
                    Presation time registration
                  </div>
                  <div class="panel-body-b">
                    Presentation time register is available in week 8
                  </div>
                  <div class="panel-body-f">
                    <span>Time:10/05/2018<span>
                  </div>
                </div>



                <div class="panel-body">
                  <div class="panel-body-t">
                    Presation time registration
                  </div>
                  <div class="panel-body-b">
                    Presentation time register is available in week 8
                  </div>
                  <div class="panel-body-f">
                    <span>Time:10/05/2018<span>
                  </div>
                </div>-->
              </div>
          </div>




          <div class="panel">
              <div class="panel-title">
                <span>Time Table</span>
                <select>
                  <option>Week 1</option>
                  <option>Week 2</option>
                  <option>Week 3</option>
                  <option>Week 4</option>
                </select>
                <button>search</button>
              </div>
              <div class="panel-body-all" >
                <table width="80%" align="center" style="margin-top: 20px;">


              <tr>
                  <th></th>
                  <th>Monday</th>
                  <th>Tuesday</th>
                  <th>Wednesday</th>
                  <th>Thrusday</th>
                  <th>Friday</th>

              </tr>


              <tr>
                  <th>8:00 - 9:00</th>

                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>


              </tr>

              <tr>
                  <th>9:00 - 10:00</td>

                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>


              </tr>

              <tr>
                  <th>10:00 - 11:00</td>

                      <td></td>
                      <td></td>
                      <td></td>
                      <td>Group 3</td>
                      <td></td>



              </tr>

              <tr>
                  <th>11:00 - 12:00</td>

                      <td>Group11</td>
                      <td>Group1</td>
                      <td></td>
                      <td>Group4</td>
                      <td></td>



              </tr>

              <tr>
                  <th>12:00 - 13:00</td>

                      <td></td>
                      <td></td>
                      <td>Group6</td>
                      <td></td>
                      <td></td>


              </tr>
              <tr>
                  <th>13:00 - 14:00</td>

                      <td>Status Free</td>
                      <td>Status Free</td>
                      <td></td>
                      <td>Group 5</td>
                      <td></td>


              </tr>

              <tr>
                  <th>14:00 - 15:00</td>

                      <td></td>
                      <td></td>
                      <td>Group 7</td>
                      <td></td>
                      <td></td>


              </tr>

              <tr>
                  <th>15:00 - 16:00</td>

                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>


              </tr>

              <tr>
                  <th>16:00 - 17:00</td>

                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>


              </tr>
              <tr>
                  <th>17:00 - 18:00</td>

                      <td>Status Free</td>
                      <td>Status Free</td>
                      <td></td>
                      <td>Status Free</td>
                      <td></td>


              </tr>
          </table>

        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <!--<script src="../stylesheets/popper.min.js"></script>-->
    <script src="../javascripts/hangsuper.js"></script>
    <!--<script src="../stylesheets/bootstrap.min.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <!--  <script src="../stylesheets/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>

<script>
var input = hs.getTagName('input');
var btn = hs.getTagName('button');
var error = hs.getClassName('error');
var textarea = hs.getTagName('textarea');
var announcement = hs.getId('announcement');


getAnnouncement();

function getAnnouncement(){
  announcement.innerHTML="";
  hs.getAjax({
    url:'/coord/getAnnouncement',
    data:{
      userId:'1'
    },
    succFn:function(data){
      var temp = "";

        if (data === 0 || data == 1){
         temp = "Please Check your database";
        }else if(data.length=="0" ){
          temp = "Welcome to IFB398/IFB399 Capstone";
        }else{
          temp = data;
        }
       hs.text(announcement,temp);

    }
  })
};

</script>
