<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  <!--  <link rel="icon" href="../../../../favicon.ico">-->

    <title>Dashboard for coordinator</title>

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../javascripts/hangsuper.js"></script>

    <!-- Custom styles for this template -->
    <link href="../stylesheets/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/hangsuper.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #114a81;">
      <a class="navbar-brand" href="#">UPMS</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
       
          <div class="project-name">
            <a href="../">University Project Management System</a>
          </div>
          <div class="welcome"> 
            Welcome:
            <span id ="userId"> Hang</span>
            <span id ="logout" class="btn">sign out</span>
          </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block sidebar" style="background-color: #666666;">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item" >
              <a class="nav-link " href="/coord">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/coord/project">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/coord/groups">Groups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/coord/assessments">Assessments</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/coord/meeting">Manage meeting Time</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/coord/presentation">Manage presentation Time</a>
            </li>
          </ul>
          <hr>

          <ul class="nav nav-pills flex-column">

            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/coord/profile">Profile</a>
            </li>
          </ul>

        </nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">

          <content>

            <div class="panel">
                <div class="panel-title">
                  <span>SetUp Assignment</span>
                </div>
                <div class="panel-body-all" style="padding: 20px; overflow: hidden;">
                  <div class="input_row">
                    <label>Assignment Name:</label>
                    <input  type="text" placeholder="Assignment name" />
                    <span class="error">Please enter a name </span>
                  </div>                
                    <div class="input_row">
                     <label>Weight (100 points):</label>
                     <input type="number">
                     <span class="error">Please enter a number between 1-100 </span>
                  </div>
                  <div class="input_row">
                    <label>Date Due:</label>
                    <input type="date">
                    <span class="error">Please select a date </span>
                  </div>
                  <div class="input_row">
                      <label>Description & CRA:</label>
                      <input type="file">
                      <span class="error">Please select a file </span>
                  </div>
                  <div class="input_row">
                      <button class="btn" id="btn_create">CREATE</button>
                  </div>
                  
                </div>
            </div>


            <div class="panel">
              <div class="panel-title">
                <span>Assignments</span>
              </div>

              <div class="panel-body-all">



                <div class="panel-body">
                  <div class="panel-body-t link">
                    Public trasport system intergreation
                  </div>
                  <div class="panel-body-t-score"><br>
                   <p>Due Date: <span style ="color:#114a81;" >19-03-2018</span></p>
                    CRA & Description:
                  </div>
                  <div class="panel-body-b">
                   <div class = "link"><li>CRA_name</li></div>
                  </div>
                </div>

                <div class="panel-body">
                    <div class="panel-body-t link">
                      Public trasport system intergreation
                    </div>
                    <div class="panel-body-t-score"><br>
                     <p>Due Date: <span style ="color:#114a81;" >19-03-2018</span></p>
                      CRA & Description:
                    </div>
                    <div class="panel-body-b">
                     <div class = "link"><li>CRA_name</li></div>
                    </div>
                  </div>

              </div>
          </div>

          <div class="panel" style="height: 550px;">
              <div class="panel-title">
                <span>Assessment Items</span>
                <input type="text" placeholder="Search StudentID or groupID" >
                <button>Search</button>
              </div>
              <div class="panel-body-all panel-table">
                 <table width="90%" align="center">
              <tr>
                  <th>Student ID</th>
                  <th>Group Number</th>
                  <th>Skill Development Plan</th>
                  <th>Marks</th>
                  <th>Report</th>
                  <th>Marks</th>
                  <th>Presentation Marks</th>
                  <th></th>

              </tr>
               <tr>
                  <th>n9326XXX</th>
                  <th>1</th>
                  <th class="link">file</th>
                  <th><input type="number" class="marks"></th>
                  <th class="link">file</th>
                  <th><input type="number" class="marks"></th>
                  <th><input type="number" class="marks"></th>
                  <th>
                    <button style="background-color: #114a81;border: 1px solid #114a81;border-radius: 8px;color: #fff;cursor:pointer;height: 30px;font-size: 14px;line-height: 27px;">Save
                    </button>
                  </th>

              </tr>
              <tr>
                  <th>n9326XXX</th>
                  <th>1</th>
                  <th class="link">file</th>
                  <th><input type="number" class="marks"></th>
                  <th class="link">file</th>
                  <th><input type="number" class="marks"></th>
                  <th><input type="number" class="marks"></th>
                  <th>
                    <button style="background-color: #114a81;border: 1px solid #114a81;border-radius: 8px;color: #fff;cursor:pointer;height: 30px;font-size: 14px;line-height: 27px;">Save
                    </button>
                  </th>

              </tr>
              <tr>
                  <th>n9326XXX</th>
                  <th>1</th>
                  <th class="link">file</th>
                  <th><input type="number" class="marks"></th>
                  <th class="link">file</th>
                  <th><input type="number" class="marks"></th>
                  <th><input type="number" class="marks"></th>
                  <th>
                    <button style="background-color: #114a81;border: 1px solid #114a81;border-radius: 8px;color: #fff;cursor:pointer;height: 30px;font-size: 14px;line-height: 27px;">Save
                    </button>
                  </th>

              </tr>

            </table>
              </div>
          </div>
        </content>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../javascripts/signin.js"></script>
    <script>
       var input = hs.getTagName('input');
       var error = hs.getClassName('error');
       hs.pageLoader('content');

       getAssignment();


      function checkValidation(){
        var pass = true; 
        var name = input[0].value;
        var value = input[1].value;
        var date = input[2].value;
        var file = input[3].value;
          if(hs.isEmpty(name) ){
            error[0].style.display="block";
            pass = false;
            return pass;
          } 
          if(hs.isEmpty(value)){
            error[0].style.display="";
            error[1].style.display="block";
            pass = false;
            return pass;
          }
          if(hs.isEmpty(date)){
            error[1].style.display="";
            error[2].style.display="block";
            pass = false;
            return pass;
          }
          if(hs.isEmpty(file) ){
            error[2].style.display="";
            error[3].style.display="block";
            pass = false;
            return pass;
          }
       error[0].style.display="";
       error[1].style.display="";
       error[2].style.display="";
       error[3].style.display="";
       return pass;
     }


      hs.click(hs.getId('btn_create'),function(){
        if(!checkValidation()){
          return;
        }
        setUpAssignment();
      });

      function setUpAssignment(){
        var name = input[0].value;
        var value = input[1].value;
        var date = input[2].value;
        hs.loading();
        var url = '/coord/setUpassignment/uploadFile';
        hs.uploadFile(input[3].files[0],url,function(data){
          if (data === "not pdf"){
            hs.toast("red",2,"Please select a PDF file");
          }else if (data === "name error"){
            hs.toast("red",2,"Upload file fail");
          }else{
            hs.postAjax({
              url:'/coord/setUpassignment/setUpDetaill',
              data:{
                name:name,
                weight:value,
                dateDue:date,
                fileName:data
              },
              succFn:function(res){
                if (res == 2 ){
                  hs.toast('green',2,'success');
                  getAssignment();
                }else{
                  hs.toast("red",2," error");
                }
                
              }
            })
          }         
        })
      }



      function getAssignment(){
        hs.getAjax({
          url:'/coord/getAssignment',
          data:{
            user:1
          },
          succFn:function(res){
            hs.text(hs.getClassName("panel-body-all")[1],res);
          }
        })
      }
    
    </script>
  </body>
</html>


