<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--  <link rel="icon" href="../../../../favicon.ico">-->

  <title>Dashboard for coordinator</title>

  <!-- Bootstrap core CSS -->

  <div id="loader"></div>
  <link href="../../../stylesheets/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Custom styles for this template -->
  <link href="../../../stylesheets/dashboard.css" rel="stylesheet">
  <link rel="stylesheet" href="../../../stylesheets/style.css">
  <link rel="stylesheet" href="../../../stylesheets/hangsuper.css">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #114a81;">
    <a class="navbar-brand" href="#">UPMS</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">

      <div class="project-name">
        <a href="../">University Project Management System</a>
      </div>
      <div class="welcome">
        Welcome:
        <span id ="userId"> Hang</span>
        <span id ="logout" class="btn">sign out</span>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-sm-3 col-md-2 d-none d-sm-block sidebar" style="background-color: #666666;">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link " href="/coord">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/coord/project">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/coord/groups">Groups</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/coord/assessments">Assessments</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/coord/meeting">Manage meeting Time</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/coord/presentation">Manage presentation Time</a>
          </li>
        </ul>
        <hr>

        <ul class="nav nav-pills flex-column">

          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/coord/profile">Profile</a>
          </li>
        </ul>

      </nav>

      <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">


        <div class="panel">
          <div class="panel-title">
            <span>Group
              <%= id %>
            </span>
          </div>
          <div class="panel-body-all" style="text-align: center; padding: 20px; ">
            <table width="80%" align="center">
              <tr>
                <th>Student Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Major</th>
                <th>GPA</th>
                <th></th>
              </tr>
              <tbody id="memberDatail">

              </tbody>


            </table>
          </div>
        </div>




        <div class="panel">
          <div class="panel-title">
            <span>Available Student:</span>
            <input type="text" placeholder="search student number">
            <button>search</button>
          </div>
          <div class="panel-body-all" style="text-align: center;">
            <table width="80%" align="center">
              <tr>
                <th>Student Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Major</th>
                <th>GPA</th>
                <th></th>

              </tr>
              <tbody id="avaStudents">

              </tbody>

            </table>

          </div>
        </div>



        <div class="panel">
          <div class="panel-title">
            <span>Applied Projects:</span>
          </div>
          <div class="panel-body-all" style="text-align: center;">
            <table width="90%" align="center">
              <tr>
                <th>Project Name</th>
                <th>Remaining Slots</th>
                <th>Difficulty Level</th>
                <th>Application</th>
                <th>Student Preference</th>
                <th>Supervesor Preference</th>
                <th></th>

              </tr>
              <tbody id="appliedProject">

              </tbody>
              <!-- <tr>
                <th class="link">Public trasport system intergreation</th>
                <th>C</th>
                <th>3</th>
                <th class="link">link</th>
                <th>1</th>
                <th>1</th>
                <th>
                  <span class="btn">Assign</span>
                </th>

              </tr>
              <tr>
                <th class="link">Public trasport system intergreation</th>
                <th>C</th>
                <th>2</th>
                <th class="link">link</th>
                <th>2</th>
                <th>1</th>
                <th>
                  <span class="btn">Assign</span>
                </th>

              </tr>
              <tr>
                <th class="link">Public trasport system intergreation</th>
                <th>4</th>
                <th>C</th>
                <th class="link">link</th>
                <th>3</th>
                <th>2</th>
                <th>
                  <span class="btn">Assign</span>
                </th>

              </tr> -->

            </table>

          </div>
        </div>

      </main>
    </div>
  </div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="../../../javascripts/hangsuper.js"></script>
  <script src="../../../javascripts/signin.js"></script>
  <script>



    var groupId = <%= id %>;
    localStorage.setItem('places',<%= places %>);
    getGroupMember(groupId);
    getAvaStudents();
    showApplied(groupId);

    function getGroupMember(id) {
      hs.getAjax({
        url: '/coord/groups/groups_detail/groupMember',
        data: {
          id: id
        },
        succFn: function (res) {
          hs.text(hs.getId('memberDatail'), res);
        }

      })
    }


    function getAvaStudents() {
      hs.text(hs.getId('avaStudents'), "Students Not Available");
      if (localStorage.getItem('places') != 0) {
        hs.getAjax({
          url: '/coord/groups/groups_detail/avaStudents',
          data: {
            user: 1
          },
          succFn: function (res) {
            hs.text(hs.getId('avaStudents'), res);
          }
        })
      }
    }


    function remove(self) {
      var email = self.getAttribute('recordid');
      deleteFromGroup(email, groupId, localStorage.getItem('places'));

    }


    function add(self) {
      var email = self.getAttribute('recordid');
      addToGroup(email, groupId, localStorage.getItem('places'));
    }



    function addToGroup(email, groupId, places) {
      hs.getAjax({
        url: 'addToGroup',
        data: {
          'email': email,
          'groupId': groupId,
          'places': places
        },
        succFn: function (res) {
          if (res == "succ") {
            hs.toast('green', 2, 'Success');
            localStorage.setItem('places', localStorage.getItem('places') - 1);
            getGroupMember(groupId);
            getAvaStudents();

          }
        }
      })
    }


    function deleteFromGroup(email, groupId, places) {
      hs.getAjax({
        url: 'deleteFromGroup',
        data: {
          'email': email,
          'groupId': groupId,
          'places': places
        },
        succFn: function (res) {
          if (res == "succ") {
            hs.toast('green', 2, 'Success');

            localStorage.setItem('places', parseInt(localStorage.getItem('places')) + 1);
            getGroupMember(groupId);
            getAvaStudents();
          }
        }
      })
    }

    function showApplied(groupId) {
      hs.getAjax({
        url: 'showAppliedProject',
        data: {
          groupId: groupId
        },
        succFn: function (res) {
          hs.text(hs.getId('appliedProject'), res);
        }
      })
    }


    function cancel(self) {
      var projectId = self.getAttribute('projectId');
      var applicationId = self.getAttribute('applicationId');
      cancelFromApplication(projectId, groupId , applicationId);

    }


    function assign(self) {
      var projectId = self.getAttribute('projectId');
      var applicationId = self.getAttribute('applicationId');
      assignToApplication(projectId, groupId,applicationId);
    }


    function cancelFromApplication(projectId, groupId,applicationId){
      hs.getAjax({
        url: 'cancelFromApplication',
        data: {
          projectId:projectId,
          groupId: groupId,
          applicationId:applicationId
        },
        succFn: function (res) {
          if (res == "succ") {
            hs.toast('green', 2, 'Success');
            showApplied(groupId);
          }
        }
      })
    }

    function assignToApplication(projectId, groupId,applicationId){
      hs.getAjax({
        url: 'assignToApplication',
        data: {
          projectId:projectId,
          groupId: groupId,
          applicationId:applicationId
        },
        succFn: function (res) {
          if (res == "succ") {
            hs.toast('green', 2, 'Success');
            showApplied(groupId);
          } else if(res == "duplicate"){
            hs.toast('red', 3, 'This group has already been assigned to another project');
          }
        }
      })
    }

  </script>
</body>

</html>