<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  <!--  <link rel="icon" href="../../../../favicon.ico">-->

    <title>Dashboard for students</title>

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="../stylesheets/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #114a81;">
      <a class="navbar-brand" href="#">UPMS</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
       
          <div class="project-name">
            <a href="../">University Project Management System</a>
          </div>
          <div class="welcome"> 
            Welcome:
            <span> Hang</span>
            <span class="btn">sign out</span>
          </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block sidebar" style="background-color: #666666;">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item" >
              <a class="nav-link active" href="/coord">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/coord/project">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/coord/groups">Groups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/coord/assessments">Assessments</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/coord/meeting">Manage meeting Time</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/coord/meeting">Manage presentation Time</a>
            </li>
          </ul>
          <hr>

          <ul class="nav nav-pills flex-column">

            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/coord/profile">Profile</a>
            </li>
          </ul>

        </nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">

          <div class="panel fix-s-height">
              <div class="panel-title">
                <span>Announcement</span>
              </div>
              <div id = "announcement" class="panel-body-all overflow-s">
                <!-- <div class="panel-body">
                  <div class="panel-body-t">
                    Presation time registration
                  </div>
                  <div class="panel-body-b">
                    Presentation time register is available in week 8
                  </div>
                  <div class="panel-body-f">
                    <span>Time:10/05/2018<span>
                  </div>
                </div>
              


                <div class="panel-body">
                  <div class="panel-body-t">
                    Presation time registration
                  </div>
                  <div class="panel-body-b">
                    Presentation time register is available in week 8
                  </div>
                  <div class="panel-body-f">
                    <span>Time:10/05/2018<span>
                  </div>
                </div> -->
              </div>
          </div>



          <div class="panel">
              <div class="panel-title">
                <span>Set events</span>
              </div>
              <div class="panel-body-all center">
                  <div class="input_row">
                    <label><b>Event Title:</b></label>
                    <input type="text" placeholder="Please enter a simple description">
                    <span class="error">Event description is needed</span>
                  </div>
                  <div class="input_row">
                    <label><b>Date:</b></label>
                    <input type="date">
                    <span  class="error">Time is required</span>
                  </div>
                  <div class="input_row">
                    <textarea name="" id="" cols="35" rows="10"></textarea>
                    <span  class="error">Content cannot be empty</span>
                  </div>
                  <div class="input_row" >
                     <button class="btn" >Make an announcement</button>
                     <button class="btn" style="margin-right: 10px">Set event on calandar</button>
                  </div>
                   
                    
                 
              </div>
          </div>




           <div class="panel">
              <div class="panel-title">
                <span>Time Table</span>
                <select>
                  <option>Week 1</option>
                  <option>Week 2</option>
                  <option>Week 3</option>
                  <option>Week 4</option>
                </select>
                <button>search</button>
              </div>
              <div class="panel-body-all" >
                <table width="80%" align="center" style="margin-top: 20px;">


              <tr>
                  <th></th>
                  <th>Monday</th>
                  <th>Tuesday</th>
                  <th>Wednesday</th>
                  <th>Thrusday</th>
                  <th>Friday</th>

              </tr>


              <tr>
                  <th>8:00 - 9:00</th>

                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>


              </tr>

              <tr>
                  <th>9:00 - 10:00</td>

                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>


              </tr>

              <tr>
                  <th>10:00 - 11:00</td>

                      <td></td>
                      <td></td>
                      <td></td>
                      <td>Group 3</td>
                      <td></td>



              </tr>

              <tr>
                  <th>11:00 - 12:00</td>

                      <td>Group11</td>
                      <td>Group1</td>
                      <td></td>
                      <td>Group4</td>
                      <td></td>



              </tr>

              <tr>
                  <th>12:00 - 13:00</td>

                      <td></td>
                      <td></td>
                      <td>Group6</td>
                      <td></td>
                      <td></td>


              </tr>
              <tr>
                  <th>13:00 - 14:00</td>

                      <td>Status Free</td>
                      <td>Status Free</td>
                      <td></td>
                      <td>Group 5</td>
                      <td></td>


              </tr>

              <tr>
                  <th>14:00 - 15:00</td>

                      <td></td>
                      <td></td>
                      <td>Group 7</td>
                      <td></td>
                      <td></td>


              </tr>

              <tr>
                  <th>15:00 - 16:00</td>

                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>


              </tr>

              <tr>
                  <th>16:00 - 17:00</td>

                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>


              </tr>
              <tr>
                  <th>17:00 - 18:00</td>

                      <td>Status Free</td>
                      <td>Status Free</td>
                      <td></td>
                      <td>Status Free</td>
                      <td></td>


              </tr>
          </table>

              </div>
          </div>

        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../stylesheets/popper.min.js"></script>
    <script src="../stylesheets/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../stylesheets/ie10-viewport-bug-workaround.js"></script>
    <script src="../javascripts/hangsuper.js"></script>
  </body>


  <script>
    var input = hs.getTagName('input');
     var btn = hs.getTagName('button');
     var error = hs.getClassName('error');
     var textarea = hs.getTagName('textarea');
     var announcement = hs.getId('announcement');



     getAnnouncement();

    


    function getAnnouncement(){
      announcement.innerHTML="";
      hs.getAjax({
        url:'/coord/getAnnouncement',
        data:{
          userId:'1'
        },
        succFn:function(data){
          var temp = "";
          console.log(data.length);

            if (data === 0 || data == 1){
             temp = "Please Check your database";
            }else if(data.length=="0" ){
              temp = "Welcome to IFB398/IFB399 Capstone";
            }else{
              temp = data;
            }
           announcement.innerHTML = temp;
          
        }
      })
    };

     function checkValidation(){
        var title = input[0].value;
        var time = input[1].value;
        var content = textarea[0].value;
          if(title == "" || title == undefined || title == null ){
            error[0].style.display="block";
            return;
          } 
          if(time == "" || time == undefined || time == null ){
            error[0].style.display="";
            error[1].style.display="block";

            return;
          }
          if(content == "" || content == undefined || content == null ){
            error[1].style.display="";
            error[2].style.display="block";
            return;
          }
           error[0].style.display="";
           error[1].style.display="";
           error[2].style.display="";
     }


      btn[0].addEventListener('click',function(){
        checkValidation();

        hs.getAjax({
          url:'/coord/createAnnouncement',
          data:{
            userId:001,
            title:input[0].value,
            content:textarea[0].value,
            time:input[1].value
          },
          succFn:function(data){
            if (data == 2) {
              alert("Annnouncement has been added");
              getAnnouncement();

              input[0].value = "";
              input[1].value = "";
              textarea[0].value = "";
            }else{
              alert("Please check your internet");
            }
           
          }
        })
      
      //
     });




  </script>



</html>


