<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  <!--  <link rel="icon" href="../../../../favicon.ico">-->

    <title>Dashboard for students</title>

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="../stylesheets/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/theme2.css">
    <link rel="stylesheet" href="../stylesheets/hangsuper.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #114a81;">
      <a class="navbar-brand" href="#">UPMS</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
       
          <div class="project-name">
            <a href="../">University Project Management System</a>
          </div>
          <div class="welcome"> 
            Welcome:
            <span> Hang</span>
            <span class="btn">sign out</span>
          </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block sidebar" style="background-color: #666666;">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item" >
              <a class="nav-link active" href="/coord">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/coord/project">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/coord/groups">Groups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/coord/assessments">Assessments</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/coord/meeting">Manage meeting Time</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/coord/meeting">Manage presentation Time</a>
            </li>
          </ul>
          <hr>

          <ul class="nav nav-pills flex-column">

            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/coord/profile">Profile</a>
            </li>
          </ul>

        </nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">

          <div class="panel" style="height:500px;">
              <div class="panel-title">
                <span>Announcements</span>
              </div>
              <div id = "announcement" class="panel-body-all" style="height:456px; overflow-y:scroll">
                <!-- <div class="panel-body">
                  <div class="panel-body-t">
                    Presation time registration
                  </div>
                  <div class="panel-body-b">
                    Presentation time register is available in week 8
                  </div>
                  <div class="panel-body-f">
                    <span>Time:10/05/2018<span>
                  </div>
                </div>
              


                <div class="panel-body">
                  <div class="panel-body-t">
                    Presation time registration
                  </div>
                  <div class="panel-body-b">
                    Presentation time register is available in week 8
                  </div>
                  <div class="panel-body-f">
                    <span>Time:10/05/2018<span>
                  </div>
                </div> -->
              </div>
          </div>



          <div class="panel">
              <div class="panel-title">
                <span>Set events</span>
              </div>
              <div class="panel-body-all center">
                  <div class="input_row">
                    <label><b>Event Title:</b></label>
                    <input type="text" placeholder="Please enter a simple description">
                    <span class="error">Event description is needed</span>
                  </div>
                  <div class="input_row">
                    <label><b>Date:</b></label>
                    <input type="date">
                    <span  class="error">Time is required</span>
                  </div>
                  <div class="input_row">
                    <textarea name="" id="" cols="35" rows="10"></textarea>
                    <span  class="error">Content cannot be empty</span>
                  </div>
                  <div class="input_row" >
                     <button class="btn" >Make an announcement</button>
                     <button class="btn" style="margin-right: 10px">Set event on calandar</button>
                  </div>
                   
                    
                 
              </div>
          </div>




           <div class="panel">
              <div class="panel-title">
                <span>Time Table</span>
                <!-- <select>
                  <option>Week 1</option>
                  <option>Week 2</option>
                  <option>Week 3</option>
                  <option>Week 4</option>
                </select> -->
              </div>
              <div class="panel-body-all" style="overflow: hidden;">
                <div class="panel-body" style="width: 48%; float: left;">
                  <div id="calandar">
                    
                  </div>
                </div>
                <div id = "calandarDeatil" class="panel-body" style="width: 47%; float: left; min-height: 320px;">
                  <!-- <div class="panel-body-t">
                   December 7, 2017
                  </div>
                  <div class="panel-body-b" style="font-size: 15px; font-weight: lighter;">
                    Presentation time register is available in week 8
                  </div>
                  <div class="panel-body-f" style="font-size: 15px; font-weight: lighter;">
                    <span class="link">@ Hang Su</span>
                  </div> -->
                </div>
              </div>
          </div>

        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../javascripts/hangsuper.js"></script>
    <script src="../javascripts/caleandar.js"></script>
  </body>


  <script>
    var input = hs.getTagName('input');
    var btn = hs.getTagName('button');
    var error = hs.getClassName('error');
    var textarea = hs.getTagName('textarea');
    var announcement = hs.getId('announcement');



    getAnnouncement();
    getCalandar();

    


    function getAnnouncement(){
      announcement.innerHTML="";
      hs.getAjax({
        url:'/coord/getAnnouncement',
        data:{
          userId:'1'
        },
        succFn:function(data){
          var temp = "";

            if (data === 0 || data == 1){
             temp = "Please Check your database";
            }else if(data.length=="0" ){
              temp = "Welcome to IFB398/IFB399 Capstone";
            }else{
              temp = data;
            }
           hs.text(announcement,temp);
          
        }
      })
    };



    function getCalandar(){
      hs.getAjax({
        url:'/coord/getCalandar',
        data:{
          userId:'1'
        },
        succFn:function(data){
          var temp = "";

            if (data === 0 || data == 1){
             temp = "Please Check your database";
            }else if(data.length=="0" ){
              temp = "Welcome to IFB398/IFB399 Capstone";
            }else{
              temp = JSON.parse(data);
            }
            dispalyCalandar(temp.events);
        }
      })
    };

   

     function checkValidation(){
        var pass = true; 
        var title = input[0].value;
        var time = input[1].value;
        var content = textarea[0].value;
          if(title == "" || title == undefined || title == null ){
            error[0].style.display="block";
            pass = false;
            return pass;
          } 
          if(time == "" || time == undefined || time == null ){
            error[0].style.display="";
            error[1].style.display="block";
            pass = false;
            return pass;
          }
          if(content == "" || content == undefined || content == null ){
            error[1].style.display="";
            error[2].style.display="block";
            pass = false;
            
          }
       error[0].style.display="";
       error[1].style.display="";
       error[2].style.display="";
       return pass;
     }



      hs.click(btn[0],function(){
        if(!checkValidation()){
          return;
        }
        hs.getAjax({
          url:'/coord/createAnnouncement',
          data:{
            userId:001,
            title:input[0].value,
            content:textarea[0].value,
            time:input[1].value
          },
          succFn:function(data){
            if (data == 2) {
              hs.toast("green",2,"Success");
              getAnnouncement();
              getCalandar();
              input[0].value = "";
              input[1].value = "";
              textarea[0].value = "";
            }else{
              hs.toast("red",2,"Please Check your internet");
            }
           
          }
        })
      
      //
     });



      

      function dispalyCalandar(events){
        var settings = {};
        var element = hs.getId('calandar');
        element.innerHTML = "";
        caleandar(element, events, settings);
      }


      function showDetail(self){
         hs.getAjax({
          url:'/coord/getCalandar',
          data:{
            userId:001,
            Id:self.getAttribute("id")
          },
          succFn:function(data){
            if (data == 0 || data == 1) {
              alert("Please check your internet");
            }else{
              hs.text(hs.getId("calandarDeatil"),data);
            }
           
          }
        })
      }
  

  </script>



</html>






