<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  <!--  <link rel="icon" href="../../../../favicon.ico">-->

    <title>Dashboard for coordinator</title>

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/hangsuper.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="../stylesheets/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <style>
      .free{
        background:cadetblue; 
      }
      .registed{
        background: red;
      }
      th{
        height:auto;
      }
      th div{
        display:block;
        margin-bottom: 5px;
        min-height:50px; 
        width:100%;
        text-align:left;
      }
    
     th div span{
      color:#ffffff;
      font-size:12px;
      display: block;
      padding:2px;
    }
    
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #114a81;">
      <a class="navbar-brand" href="#">UPMS</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
       
          <div class="project-name">
            <a href="../">University Project Management System</a>
          </div>
          <div class="welcome"> 
            Welcome:
            <span id ="userId"> Hang</span>
            <span id ="logout" class="btn">sign out</span>
          </div>
      </div>
    </nav>
    

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block sidebar" style="background-color: #666666;">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item" >
              <a class="nav-link " href="/coord">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/coord/project">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/coord/groups">Groups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/coord/assessments">Assessments</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="/coord/meeting">Manage meeting Time</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/coord/presentation">Manage presentation Time</a>
            </li>
          </ul>
          <hr>

          <ul class="nav nav-pills flex-column">

            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/coord/profile">Profile</a>
            </li>
          </ul>

        </nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">


            <div class="panel">
                <div class="panel-title">
                  <span>Time Table</span>
                </div>
                <div class="panel-body-all" style="overflow: hidden;">
                    <table width="80%" align="center" >
                        <tr>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                        </tr>
                        <tbody id="timeSlots">

                        </tbody>

                        <!-- <tr> -->
                            <!-- <th>
                                <div class ="link free">
                                    <span>Tutor: Hang</span>
                                    <span>Time: 1:30 AM</span>
                                    <span>Status: Available</span>
                                </div>
                            </th>
                            <th>
                                <div class ="link registed">
                                    <span>Tutor: Hang</span>
                                    <span>Time: 1:30 AM</span>
                                    <span>Status: Group 2, Group 1, Group 3</span>
                                </div>
                                <div class ="link free">
                                    <span>Tutor: Hang</span>
                                    <span>Time: 1:30 AM</span>
                                    <span>Status: Available</span>
                                </div>
                                <div class ="link free">
                                    <span>Tutor: Hang</span>
                                    <span>Time: 1:30 AM</span>
                                    <span>Status: Available</span>
                                </div>
                            </th>
                            <th>
                                <div class ="link free">
                                    <span>Tutor: Hang</span>
                                    <span>Time: 1:30 AM</span>
                                    <span>Status: Available</span>
                                </div>
                                <div class ="link free">
                                    <span>Tutor: Hang</span>
                                    <span>Time: 1:30 AM</span>
                                    <span>Status: Available</span>
                                </div>
                            </th>
                            <th>
                                <div class ="link registed">
                                    <span>Tutor: Hang</span>
                                    <span>Time: 1:30 AM</span>
                                    <span>Status: Available</span>
                                </div>
                            </th>
                            <th>

                            </th> -->
          
                        <!-- </tr> -->

                       
          
                      </table>
                </div>
            </div>



          <div class="panel">
              <div class="panel-title">
                <span>Add Meeting Time</span>
              </div>
              <div class="panel-body-all">
                  <div class="input_row">
                    <label>Day:</label>
                    <select type="select">
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                    </select>
                    <span class="error">Please select a Day</span>
                  </div>
                  <div class="input_row">
                    <label>Time:</label>
                    <input type="time">
                    <span class="error">Please select a time</span>
                  </div>
                  <div class="input_row">
                    <label>Duration(min):</label>
                    <input type="number">
                    <span class="error">Please set up the duration</span>
                  </div>
                  <div class="input_row">
                    <label>Assign To:</label>
                    <select>
                      <option value="Hang">Hang</option>
                      <option value="Jerry">Jerry</option>
                    </select>
                    <span class="error">Please select a tutor</span>
                  </div>
                  <div class="input_row">
                    <button id = "btn" class="btn">ADD</button>
                  </div>
                 
              </div>
          </div>

        </main>
      </div>
    </div>

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../javascripts/hangsuper.js"></script>
    <script src="../javascripts/signin.js"></script>
    <script>


        var add_btn = hs.getId('btn');
        var error = hs.getClassName('error');
        var inputs = hs.getTagName('input');
        var tutor = hs.getTagName('select');



        getTimeSlots();



        function getTimeSlots(){
          hs.getAjax({
            url:'/coord/meeting/getTimeSlots',
            data:{
              userId:localStorage.getItem('userId')
            },
            succFn:function(res){
              hs.text(hs.getId('timeSlots'),res);
            }
          })
        }

        hs.click(add_btn,function(){

          var time  = inputs[0].value;
          var duration = inputs[1].value;
          error[0].style.display="none";
          error[1].style.display="none";
          error[2].style.display="none";
          error[3].style.display="none";
          if(hs.isEmpty(tutor[0].value)){
            error[0].style.display="block";
            return;
          }
          if(hs.isEmpty(time)){
            error[1].style.display="block";
            return;
          }
          if(hs.isEmpty(duration)){
            error[2].style.display="block";
            return;
          }
          if(hs.isEmpty(tutor[1].value)){
            error[3].style.display="block";
            return;
          }


          hs.getAjax({
            url:'/coord/meeting/createMeeting',
            data:{
              day:tutor[0].value,
              time:time,
              duration:duration,
              tutor:tutor[1].value
            },
            succFn:function(res){
              if (res === 'succ'){
                hs.toast('green',2,'Time created');
                getTimeSlots();
              }else{
                hs.toast('red',2,'Fail');
              }             
            }
          })
        })
    </script>
  </body>
</html>


