<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  <!--  <link rel="icon" href="../../../../favicon.ico">-->

    <title>Dashboard for students</title>

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="../stylesheets/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #114a81;">
      <a class="navbar-brand" href="#">UPMS</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
       
          <div class="project-name">
            <a href="../">University Project Management System</a>
          </div>
          <div class="welcome"> 
            Welcome:
            <span> Hang</span>
            <span class="btn">sign out</span>
          </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block sidebar" style="background-color: #666666;">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item" >
              <a class="nav-link" href="/coord">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/coord/project">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/coord/groups">Groups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/coord/assessments">Assessments</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/coord/meeting">Manage meeting Time</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/coord/meeting">Manage presentation Time</a>
            </li>
          </ul>
          <hr>

          <ul class="nav nav-pills flex-column">

            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/coord/profile">Profile</a>
            </li>
          </ul>

        </nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">


              <div class="panel">
                 <div class="panel-title">
                <span>Project Detail</span>
              </div>
              <div class="panel-body-all overflow-l">
                <div class="panel-body">
                  <div class="panel-body-t link">
                    Public trasport system intergreation
                  </div>
                  <div class="panel-body-t-score"><br>
                    <p>Difficulty level: C</p>
                    Supervisor: Jame Wang
                  </div>
                  <div class="panel-body-b">
<pre> Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris
justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum 
malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla
 wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi 
 mattis pariatur aliquam pharetra eget.Lorem ipsum dolor sit amet, sapien etiam,
  nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque
   ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, 
   cum eros quis aliquam wisi. Nulla wisi laoreet suspendisse integer vivamus 
   elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra eget.


IFB398:

    * ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. 
    Arcu es massa vestibulum malesuada

    *ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. 
    Arcu es massa vestibulum malesuada,

    *ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. 
    Arcu es massa vestibulum malesuada,


 IFB399:

    * ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac.
     Arcu es massa vestibulum malesuada

    *ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac.
     Arcu es massa vestibulum malesuada,
    
    *ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. 
  Arcu es massa vestibulum malesuada,</pre>

                  </div>
                  <div class="panel-body-f">
                    <span>Time:10/05/2018</span>
                  </div>
                </div>
              </div>
            </div>

        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  </body>
</html>


