<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  <!--  <link rel="icon" href="../../../../favicon.ico">-->

    <title>Dashboard for students</title>

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/hangsuper.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../javascripts/hangsuper.js"></script>

    <!-- Custom styles for this template -->
    <link href="../stylesheets/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #114a81;">
      <a class="navbar-brand" href="#">UPMS</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
       
          <div class="project-name">
            <a href="../">University Project Management System</a>
          </div>
          <div class="welcome"> 
            Welcome:
            <span id ="userId"> Hang</span>
            <span id ="logout" class="btn">sign out</span>
          </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block sidebar" style="background-color: #666666;">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item" >
              <a class="nav-link" href="/coord">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/coord/project">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/coord/groups">Groups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/coord/assessments">Assessments</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/coord/meeting">Manage meeting Time</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/coord/meeting">Manage presentation Time</a>
            </li>
          </ul>
          <hr>

          <ul class="nav nav-pills flex-column">

            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/coord/profile">Profile</a>
            </li>
          </ul>

        </nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">

          <content>
            
          
              <div class="panel">
                 <div class="panel-title">
                <span>New Project</span>
              	</div>
              	<div class="panel-body-all">
              		<div class="input_row">
              			<label>Project Name:</label>
              			<input type="text" placeholder="Please enter project name">
                    <span class="error">Please provide a name</span>
              		</div>
              		<div class="input_row">
              			<label>Difficulty Level:</label>
                    <select name="" id="">
                      <option value="A">A</option>
                      <option value="B">B</option>
                      <option value="C">C</option>
                    </select>
                    <span class="error">Difficulty level cannot be empty</span>
              		</div>
              		<div class="input_row">
              			<label>Places Available:</label>
              			<input type="text" placeholder="Please enter the number of places available">
                    <span class="error">Filed is required</span>
              		</div>
              		<div class="input_row">
              			<label>Superviser Name:</label>
              			<input type="text" placeholder="Please enter superviser's name">
                    <span class="error">Please enter superviser's name</span>
              		</div>
              		<div class="input_row">
              			<label>Superviser Email:</label>
              			<input type="text" placeholder="Please enter superviser's email">
                    <span class="error">Please enter superviser's name</span>
              		</div>
              		<div class="input_row">
              			<label>Description:</label>
              		</div>
              		<div class="input_row">
              			<textarea name="" id="" cols="35" rows="10"></textarea>
                    <span class="error">Description cannot be empty</span>
              		</div>
              		<div class="input_row">
              			<label>Outline:</label>
              			<input type="file">
                    <span class="error">Please select a file </span>
              		</div>
              		<div class="input_row">
              			<button class="btn">Upload Project</button>
              		</div>

              		
              		
              	</div>
            </div>
          </content>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../javascripts/signin.js"></script>
    <script>
      var inputs = hs.getTagName('input');
      var select = hs.getTagName('select');
      var description = hs.getTagName('textarea');
      var btn = hs.getTagName('button');
      var error = hs.getClassName('error');
      hs.pageLoader('content');
       


      hs.click(btn[0],function(){
        error[0].style.display="none";
        error[1].style.display="none";
        error[2].style.display="none";
        error[3].style.display="none";
        error[4].style.display="none";
        error[5].style.display="none";
        error[6].style.display="none";


        if (hs.isEmpty(inputs[0].value)){
          error[0].style.display="block";
          return;
        }
        if (hs.isEmpty(select[0].value)){
          error[1].style.display="block";
          return;
        }
        if (hs.isEmpty(inputs[1].value)){
          error[2].style.display="block";
          return;
        }
        if (hs.isEmpty(inputs[2].value)){
          error[3].style.display="block";
          return;
        }
        if (hs.isEmpty(inputs[3].value)){
          error[4].style.display="block";
          return;
        }
        if (hs.isEmpty(description[0].value)){
          error[5].style.display="block";
          return;
        }
        if (hs.isEmpty(inputs[4].value)){
          error[6].style.display="block";
          return;
        }
        hs.loading();
        var url = '/coord/upload_project/uploadFile';
        hs.uploadFile(inputs[4].files[0],url,function(data){
          if (data === "not pdf"){
            hs.toast("red",2,"Please select a PDF file");
          }else if (data === "name error"){
            hs.toast("red",2,"Upload file fail");
          }else{
            hs.postAjax({
              url:'/coord/upload_project/uploadProject',
              data:{
                projectName:inputs[0].value,
                level:select[0].value,
                space:inputs[1].value,
                superName:inputs[2].value,
                superEmail:inputs[3].value,
                description:description[0].value,
                fileName:data
              },
              succFn:function(res){
                if (res == 2 ){
                  hs.toast('green',2,'Upload Complete');
                  setTimeout(function(){
                    hs.redirect('/coord/project');
                  }, 1500);
                }else{
                  hs.toast("red",2,"upload project error");
                }
                
              }
            })
          }         
        });        
      });
    </script>
  </body>
</html>


